*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: var(--clr-txt-link);
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: var(--clr-bg-primary);
  font-size: 1.6rem;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}
